
@using EnvScannerManagement.Models
@model RegisterViewModel
@{
    ViewBag.Title = "Register";
}
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WirelessCollector</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="@Url.Content("~/Content/animate.css")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="dark login-page">
    <div class="container">
        <div class="row  animated fadeInDown">
            <div class="col-lg-4 col-lg-offset-4 text-center"><img class="login-logo" src="~/images/logo.svg" /></div>
        </div>

        <div class="row m-t-md text-center animated fadeInUp">
            <div class="col-lg-4 col-lg-offset-4">

                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <fieldset>

                        <!-- Text input-->
                        <div class="form-group">
                            <div class="col-xs-12">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-mail" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <!-- Password input-->
                        <div class="form-group">
                            <div class="col-xs-12">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Password confirm" })
                            </div>
                        </div>
          <!-- Button -->
                        <div class="form-group">
                            <div class="col-xs-12">

                                <input type="submit" value="Register" class="btn btn-primary btn-block" />
                            </div>
                        </div>

                    </fieldset>
                }
                <p class="text-muted">Do you have an Account?</p>@Html.ActionLink("Log in.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </div>

        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>


