@model IEnumerable<Database.Wifi>
@using Newtonsoft.Json
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Wifis Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">

    <link href="@Url.Content("~/Content/animate.css")" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/jquery.datetimepicker.min.css")

</head>
<body>
    <div class="fixed-menu-bar animated fadeInLeft">
        <div class="col-xs-4 no-padding centered-icon back">
            <a href="/"><i class="material-icons">arrow_back</i></a>
        </div>
        <div class="col-xs-4 no-padding" style="overflow:hidden;">
            <a href="/"><img style="height: 66px; margin-top: 9px;" class="logo" src="~/images/logo.svg" /></a>
        </div>
        <div class="col-xs-4 centered-icon no-padding" id="showMenu" style="background:#333;">
            <a id="hamburger-icon" href="#" title="Menu">
                <span class="line line-1"></span>
                <span class="line line-2"></span>
                <span class="line line-3"></span>
            </a>
        </div>
    </div>
    <div class="fixed-menu">
        <div class="row">
            <div class="col-xs-12">
                <i id="closeMenu" class="close-menu glyphicon glyphicon-remove close-menu-on-map"></i>
            </div>
        </div>


        <div class="row filters" style="margin-top:30px;">
            <div class="col-xs-12">
                <h3>Maps</h3>
            </div>
            <div class="col-xs-12">
                <button class="btn btn-primary m-t-xs" onclick="showAllConnections();"><i class="material-icons">wifi_tethering</i> Device</button>
                <button class="btn btn-primary m-t-xs" onclick="showBluetoothsMap();"><i class="material-icons">bluetooth</i> Bluetooth</button>
            </div>
        </div>

        <div class="row filters" style="margin-top:30px;">
            <div class="col-xs-12">
                <h3>Markers</h3>
            </div>
            <div class="col-xs-12">
                <button class="btn btn-default m-t-xs" onclick="clearMarkers();"><i class="material-icons">visibility_off</i> Hide</button>
                <button class="btn btn-default m-t-xs" onclick="showMarkers();"><i class="material-icons">visibility</i> All</button>
            </div>
        </div>

        <div class="row" style="margin-top:30px;">
            <div class="col-xs-12">
                <h3>Date & time</h3>
            </div>
            <div class="col-xs-12">
                <input type="text" class="form-control" name="filter-date" id="filter-date-from" placeholder="From" />
                <input style="margin-top:5px;" type="text" class="form-control" name="filter-date" id="filter-date-to" placeholder="To" />
            </div>
            <div class="col-xs-12" style="margin-top:5px;">
                <button class="btn btn-primary pull-right" onclick="filterDateAndTime()"><i class="material-icons">filter_list</i> Filter</button>
            </div>
        </div>

        <div class="row" style="margin-top:30px;">
            <div class="col-xs-12">
                <h3>Device</h3>
            </div>
            <div class="col-xs-12">
                <input type="text" class="form-control" placeholder="Device ID" id="deviceId" />
            </div>
            <div class="col-xs-12" style="margin-top:5px;">
                <button class="btn btn-primary pull-right" onclick="filterByDeviceId()"><i class="material-icons">search</i> Search</button>
            </div>
        </div>

        <div class="row" style="margin-top:30px;">
            <div class="col-xs-12">
                <h3>BSSID</h3>
            </div>
            <div class="col-xs-12">
                <input type="text" class="form-control" placeholder="BSSID" id="wifiBSSID" />
            </div>
            <div class="col-xs-12" style="margin-top:5px;">
                <button class="btn btn-primary pull-right" onclick="filterByWifiBSSID()"><i class="material-icons">search</i> Search</button>
            </div>
        </div>

        <div class="row" style="margin-top:30px;">
            <div class="col-xs-12">
                <h3>SSID</h3>
            </div>
            <div class="col-xs-12">
                <input type="text" class="form-control" placeholder="SSID" id="wifiSSID" />
            </div>
            <div class="col-xs-12" style="margin-top:5px;">
                <button class="btn btn-primary pull-right" onclick="filterByWifiSSID()"><i class="material-icons">search</i> Search</button>
            </div>
        </div>

        <div class="row" style="margin-top:30px;">
            <div class="col-xs-12">
                <h3>Security</h3>
            </div>
            <div class="col-xs-12">
                <input type="text" class="form-control" placeholder="Type [ESS] to show only hotspots" id="wifiSecurity" />
            </div>
            <div class="col-xs-12" style="margin-top:5px;">
                <button class="btn btn-primary pull-right" onclick="filterByWifiSecurity()"><i class="material-icons">search</i> Search</button>
            </div>
        </div>

        <div class="row" style="margin-top:30px;">
            <div class="col-xs-12">
                <h3>Frequency</h3>
            </div>
            <div class="col-xs-12">
                <input type="text" class="form-control" placeholder="Frequency" id="wifiFrequency" />
            </div>
            <div class="col-xs-12" style="margin-top:5px;">
                <button class="btn btn-primary pull-right" onclick="filterByWifiFrequency()"><i class="material-icons">search</i> Search</button>
            </div>
        </div>

        <div class="row" style="margin-top:30px;">
            <div class="col-xs-12">
                <h3>Level</h3>
            </div>
            <div class="col-xs-12">
                <input type="text" class="form-control" placeholder="Level" id="wifiLevel" />
            </div>
            <div class="col-xs-12" style="margin-top:5px;">
                <button class="btn btn-primary pull-right" onclick="filterByWifiLevel()"><i class="material-icons">search</i> Search</button>
            </div>
        </div>

        <div class="row" style="margin-top:30px;">
            <div class="col-xs-12">
                <h3>Go to</h3>
            </div>
            <div class="col-xs-12">
                <input type="text" class="form-control" id="lat" placeholder="Lat" />
                <input style="margin-top:5px;" class="form-control" type="text" id="lang" placeholder="Lang" />
            </div>
            <div class="col-xs-12" style="margin-top:5px;">
                <button class="btn btn-primary pull-right" onclick="goToLatLang()"><i class="material-icons">gps_fixed</i> Go</button>
            </div>
        </div>
    </div>


    <div id="map"></div>

    <script>
        //Google Maps API map, markers, infoWindows initialization
        var data;
        var map;
        var gm;
        var markers;
        data = @Html.Raw(JsonConvert.SerializeObject(this.Model, new JsonSerializerSettings {
                    ReferenceLoopHandling = ReferenceLoopHandling.Ignore
        }));

        function initMap() {
            window.onload = function() {
                gm = google.maps;
                var latlng = new gm.LatLng(data[0].General.GPSlatitude, data[0].General.GPSLongtitude);
                var myOptions = {
                    zoom: 10,
                    center: latlng,
                    mapTypeId: google.maps.MapTypeId.SATELLITE,
                    scaleControl: true,
                    markersWontMove: true, 
                    markersWontHide: true
                };
                map = new gm.Map(document.getElementById("map"), myOptions);

                markers = new OverlappingMarkerSpiderfier(map,
                   { markersWontMove: true, markersWontHide: true});

                var bounds = new gm.LatLngBounds();
                for (var i = 0; i < data.length; i++) {
                    var iconToBeSet = '../Content/MapIcons/marker-wifi.png';
                    marker = new gm.Marker({
                        map: map,
                        position: new gm.LatLng(data[i].General.GPSlatitude, data[i].General.GPSLongtitude),
                        icon: iconToBeSet,
                        i: i
                    });
                    markers.addMarker(marker);
                }

                markers.addListener('click', function(marker) {
                    //var iw = new gm.InfoWindow();
                    //iw.setContent("TESTTEST");
                    //iw.open(map, marker);
                    //});
                    //google.maps.event.addListener(marker, 'click', function () {
                    if (typeof infowindow !== 'undefined') infowindow.close()
                    infowindow = new gm.InfoWindow();
                    var content = "<div class='row marker-info m-t-md'><div class='col-xs-12 column'><strong>WIFI data <hr/></strong><div/>";

                    var i = marker.i;
                    content = content
                    +"<div class='row marker-info'><div class='col-xs-12 column'><strong><i class='material-icons'>devices</i> Device Id: </strong>" + data[i].General.DeviceId + "<div/>"
                    +"<div class='row marker-info m-t-xs'><div class='col-xs-12 column'><strong><i class='material-icons'>explore</i> Latitude: </strong>" + data[i].General.GPSlatitude +
                    "<br /><strong style='margin-left: 23.5px;'>Longtitude: </strong>"+data[i].General.GPSLongtitude +"<div/>"
                    +"<div class='row marker-info'><div class='col-xs-12 column'><strong><i class='material-icons'>date_range</i> Date and time: </strong>" + getNiceLookingDate(new Date(data[i].General.DateAndTime)) + "<div/>"

                    +"<div class='row marker-info m-t-sm'><div class='col-xs-12 column'><strong><i class='material-icons'>storage</i> BSSID: </strong>" + data[i].BSSID + "<div/>"
                    +"<div class='row marker-info m-t-xs'><div class='col-xs-12 column'><strong><i class='material-icons'>wifi_tethering</i> SSID: </strong>" +  data[i].SSID+ "<div/>"
                    +"<div class='row marker-info m-t-xs'><div class='col-xs-12 column'><strong><i class='material-icons'>wifi_lock</i> Security: </strong>" + data[i].Security + "<div/>"
                    +"<div class='row marker-info m-t-xs'><div class='col-xs-12 column'><strong><i class='material-icons'>graphic_eq</i> Frequency: </strong>" + data[i].Frequency + "<div/>"
                    +"<div class='row marker-info m-t-xs'><div class='col-xs-12 column'><strong><i class='material-icons'>signal_cellular_4_bar</i> Level: </strong>" + data[i].Level + "<div/>"
                    +"<div class='row marker-info m-t-xs'><div class='col-xs-12 column'><strong><i class='material-icons'>today</i> Timestamp: </strong>" + data[i].Timestamp + "<div/>";

                    infowindow.setContent(content);
                    infowindow.open(map, marker);

                });
                //map.fitBounds(bounds);
            }
        }

        //Panels
        function filterDateAndTime(){
            dateFrom = new Date($("#filter-date-from").val())
            dateTo = new Date($("#filter-date-to").val())
            for (var i = 0; i < markers.getMarkers().length; i++) {
                d = new Date(data[i].General.DateAndTime)
                d = new Date(d .valueOf() + d.getTimezoneOffset() * 60000);
                if ((d - dateFrom >= 0) && (d - dateTo <= 0))
                    markers.getMarkers()[i].setMap(map);
                else markers.getMarkers()[i].setMap(null);
            }
        }

        function filterByDeviceId(){
            val = $("#deviceId").val()
            for (var i = 0; i < markers.getMarkers().length; i++) {
                if (val == data[i].General.DeviceId)
                    markers.getMarkers()[i].setMap(map);
                else markers.getMarkers()[i].setMap(null);
            }
        }

        function filterByWifiBSSID(){
            val = $("#wifiBSSID").val()
            for (var i = 0; i < markers.getMarkers().length; i++) {
                if (val == data[i].BSSID)
                    markers.getMarkers()[i].setMap(map);
                else markers.getMarkers()[i].setMap(null);
            }
        }

        function filterByWifiSecurity(){
            val = $("#wifiSecurity").val()
            for (var i = 0; i < markers.getMarkers().length; i++) {
                if (val == data[i].Security)
                    markers.getMarkers()[i].setMap(map);
                else markers.getMarkers()[i].setMap(null);
            }
        }

        function filterByWifiSSID(){
            val = $("#wifiSSID").val()
            for (var i = 0; i < markers.getMarkers().length; i++) {
                if (val == data[i].SSID)
                    markers.getMarkers()[i].setMap(map);
                else markers.getMarkers()[i].setMap(null);
            }
        }

        function filterByWifiFrequency(){
            val = $("#wifiFrequency").val()
            for (var i = 0; i < markers.getMarkers().length; i++) {
                if (val == data[i].Frequency)
                    markers.getMarkers()[i].setMap(map);
                else markers.getMarkers()[i].setMap(null);
            }
        }

        function filterByWifiLevel(){
            val = $("#wifiLevel").val()
            for (var i = 0; i < markers.getMarkers().length; i++) {
                if (val == data[i].Level)
                    markers.getMarkers()[i].setMap(map);
                else markers.getMarkers()[i].setMap(null);
            }
        }

        function goToLatLang(){
            lat = $("#lat").val()
            lang = $("#lang").val()

            if (!isNaN(lat) && !isNaN(lang))
                map.setCenter(new google.maps.LatLng(lat, lang))
        }

        // Sets the map on all markers in the array.
        function setMapOnAll(map) {
            for (var i = 0; i < markers.getMarkers().length; i++) {
                markers.getMarkers()[i].setMap(map);
            }
        }

        function clearMarkers(){
            setMapOnAll(null);
        }

        function showMarkers(){
            setMapOnAll(map);
        }


        function showAllConnections(){
            var url = '@Url.Action("Index", "Map")';
            location.href = url;
        }

        function showBluetoothsMap(){
            var url = '@Url.Action("Bluetooths", "Map")';
            location.href = url;
        }

        function padLeft(nr, n, str){
            return Array(n-String(nr).length+1).join(str||'0')+nr;
        }

        function getNiceLookingDate(dateVal){
            //var niceDate = "";
            //niceDate += padLeft(dateVal.getDate(), 2, '0') + "/";
            //niceDate += padLeft(dateVal.getMonth()+1, 2, '0') + "/";
            //niceDate += dateVal.getFullYear() + " ";
            //niceDate += padLeft(dateVal.getHours(), 2, '0') + ":";
            //niceDate += padLeft(dateVal.getMinutes(), 2, '0');
            //return niceDate;
            return dateVal.toUTCString();
        }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4f8WgskI1t9Np7UVijjIQY4LF54yObA4&callback=initMap"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Content/jquery.datetimepicker.full.js")

    <script>
        jQuery(document).ready(function () {
            'use strict';

            jQuery('#filter-date-from, #filter-date-to, #search-from-date, #search-to-date').datetimepicker();
            $("#showMenu").click(function(){
                if($(".fixed-menu").hasClass('menu-expanded')){
                    $("#hamburger-icon").toggleClass('active');
                    $(".fixed-menu").css('right','-300px');
                    $(".fixed-menu").removeClass('menu-expanded');
                } else {
                    $("#hamburger-icon").toggleClass('active');
                    $(".fixed-menu").css('right','0px');
                    $(".fixed-menu").toggleClass('menu-expanded');
                }
            })
            $("#closeMenu").click(function(){
                if($(".fixed-menu").hasClass('menu-expanded')){
                    $("#hamburger-icon").toggleClass('active');
                    $(".fixed-menu").css('right','-300px');
                    $(".fixed-menu").removeClass('menu-expanded');
                } else {
                    $(".fixed-menu").css('right','0px');
                    $(".fixed-menu").toggleClass('menu-expanded')
                    $("#hamburger-icon").toggleClass('active');;
                }
            })
        });
    </script>
    @Scripts.Render("~/Content/oms.min.js")
</body>
</html>