@model Database.DTODevice

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Devices</h2>

<table class="table">
    <tr>
        <th>Device ID</th>
    </tr>

    @foreach (var item in Model.Id)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item })
            </td>
        </tr>
    }
</table>
<table class="table">
    <tr>
        <th>Frequency</th>
        <th>Count</th>
    </tr>
    @foreach (var item in Model.frequencies)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.frequency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numberOfUses)
            </td>
        </tr>
    }
</table>

<p>Unique MAC count: @Model.uniqueMACsCount</p>
<p>Unique BSSID count: @Model.uniqueBSSIDCount</p>
<hr />

<p>Unique Bluetooth captures: @Model.sumOfBluetoothCapture </p>
<p>Unique Wifi captures: @Model.sumOfWifisCapture</p>
<p>Unique Total captures: @Model.totalCaptures</p>
<hr/>
<p>Unique open Wifi count: @Model.numberOfOpenWifis</p>
<p>Unique open Wifis BSSID: </p>
@Html.ActionLink("Click to see open wifis", "OpenWifis", "Wifi")

