@model Database.DTODevice

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <h2>Devices</h2>
    </div>
    <div class="col-xs-12 m-t-md">
        <table class="table">
            <tr>
                <th>Device ID</th>
            </tr>

            @foreach (var item in Model.Id)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item)
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id = item })
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="col-xs-12 m-t-md">
        <table class="table">
            <tr>
                <th>Frequency</th>
                <th>Count</th>
            </tr>
            @foreach (var item in Model.frequencies)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.frequency)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.numberOfUses)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>




<div class="row m-t-md">
    <div class="col-md-4">

        <p>Unique MAC count: @Model.uniqueMACsCount</p>
        <p>Unique BSSID count: @Model.uniqueBSSIDCount</p>
    </div>
    <div class="col-md-4">
        <p>Unique Bluetooth captures: @Model.sumOfBluetoothCapture </p>
        <p>Unique Wifi captures: @Model.sumOfWifisCapture</p>
        <p>Unique Total captures: @Model.totalCaptures</p>
    </div>
    <div class="col-md-4">
        <p>Unique open Wifi count: @Model.numberOfOpenWifis</p>
    </div>
    <div class="col-xs-12 m-t-md">
        <a href="/Wifi/OpenWifis"><button class="btn btn-primary btn-lg"><i class="material-icons">network_wifi</i> Click to see open wifis</button></a>
    </div>
</div>


